@import "/partials/variables.scss";
@import "/partials/common.scss";
@import "/partials/mixins.scss";



.albums-container{
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-self: stretch;
    background-color: $backgroundColor;
    color: $primaryColor;
}

.album{
    width: 100%;
    padding: $size * 3;
    text-align: center;
}

.album img{
    max-height: $size * 40;
    max-width: $size * 40;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
}
